@import "css/button.css";
@import "css/table.css";
@import "css/popup.css";
@import "css/form.css";
@import "css/counter.css";


body {
  justify-content: center;
}

.footer{
  position: fixed;
  text-align: right;
  color: lightgrey;
  width: 100%;
  padding: 30px;
  background-color: #343a40;
  bottom: 0;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.employee-choice{
  display: flex;
  align-items: center;
  padding: 20px;
}

.more .container{
  width: 400px;
  color: lightgrey;
  padding: 20px;
  background: #343a40;
  border-radius: 10px;
  margin-top: 50px;
}

.more h3{
  text-align: center;
  margin-bottom: 20px;
}