input{
    border: none;
    background: none;
    border-bottom: solid 2px #343a40;
    margin-left: 10px;
    transition: 0.2s ease;
}

input:focus{
    outline: none !important;
    border-bottom: solid 2px lightslategrey;
    color: lightslategrey;
    margin-left: 14px;
}

select{
    margin-left: 10px;
}

form button{
    margin-top: 20px;
}

.form-group{
    display: flex;
    margin-bottom: 10px;
}

.form-group input{
    margin-top: 10px;
    margin-bottom: 10px;
}