.navbar{
    width: 100%;
    padding: 40px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}


.navbar a{
    text-decoration: none !important;
    color: #9a9da0;
}